  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  
 <head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
 </head>
  <br>
  <br>
  <br>
    <form method="post" class="login">
      <h2>Iniciar sesión</h2>
      <br>
      <br>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Iniciar sesión</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
     

    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  
  {% endblock %}