  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'css/tagsinput.css'%}" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static '/js/tagsinput.js' %}"></script>
    <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });</script>
   </head>  
   <br>
   <br>
   <br>
   <br>
   

   <form class="login" action="{% url 'producto_crear'%}" method="post" style="display: flex;flex-direction: column;width:35%">
    {% csrf_token %}
    {{ form }}
    <p>Categorías más comunes: 
            {% for mt in common_tags %}
                <a href="#">{{mt}}</a>
            {% endfor %}
            </p>
    <h3>Detalles</h3>
    {{ formDetalles.management_form }}
    {% for detalle in formDetalles %}{{detalle}}
    {% endfor %}  
    <button type="submit">Crear</button>

</form>

{% endblock  %}