
{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block content %}
<br>
<br>
<br>
<br>
{% if user|is_administrador or user|is_funcionario %}<a style="margin-left:50px" href="{% url 'producto_crear' %}"><img src="{% static 'images/plus.png' %}"></a> {% endif %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
</head>

<br>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
        <th>PRECIO c/u</th>
        <th>IVA</th>
        <th>DISPONIBLE</th>
        <th>CATEGORIAS</th>
    </tr>
    </thead>
    {% for producto in object_list %}
    <tr>
             <td><a href="{%url 'producto' producto.id %}">{{ producto.nombre }}</a></td>
             <td>{{ producto.descripcion }}</td>
             <td>$ {{ producto.precio_unitario }}</td>
             <td>{{ producto.iva }} %</td>
             <td><img width="36" src="{% if producto.disponible %}{% static 'images/true.png' %}{% else %}{% static 'images/false.png' %}{%endif%}"></td>
             <td>{% for tag in producto.categorias.all %}
<a href="#" class="mr-1 badge badge-info">{{ tag }}</a> {%endfor%}</td>
        </tr>
    {% empty %}
    <h2> No hay productos registrados</h2>
    <br>
    <br>
    {% endfor %}
    </table>

    {% if page_obj.has_previous or page_obj.has_next %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"> Atrás </a> - 
                {% endif %}
                    Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                    - <a href="?page={{ page_obj.next_page_number }}">Sgte.</a>
                {% endif %}
    {% endif %}
{% endblock  %}