  {% extends 'base.html' %}
  {% block content %}
  {% load static %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
   </head>
<h2>{{object.user.first_name|upper}} {{object.user.last_name|upper}}</h2>
<a style="margin-left:160px" href={%url 'usuario_editar' object.id %}><img src="{% static 'images/editar.png' %}"></a>
 - <a href={%url 'borrar' 'usuario' object.id %} onclick="return confirm('¿Desea eliminar permanentemente este usuario?');"><img src="{% static 'images/delete.png' %}"></a>
</div>
 <br>
<br>
<table >

<tr><td style="font-weight: bold;">APELLIDOS: </td><td>{{ object.user.last_name }}</td></tr>
<tr><td style="font-weight: bold;">NOMBRES: </td><td>{{ object.user.first_name }}</td></tr>
<tr><td style="font-weight: bold;">NOMBRE DE USUARIO: </td><td>{{ object.user.username }}</td></tr>
<tr><td style="font-weight: bold;">CORREO ELECTRÓNICO: </td><td>{{ object.user.email }}</td></tr>
<tr><td style="font-weight: bold;">ROL: </td><td>{{ object.rol }}</td></tr>
</table>
    {% endblock %}
