  {% extends 'base.html' %}
  {% block content %}
<h2>{{object.user.first_name|upper}} {{object.user.last_name|upper}}</h2>
<a href={%url 'usuario_editar' object.id %}>Editar</a>
 - <a href={%url 'borrar' 'usuario' object.id %} onclick="return confirm('¿Desea eliminar permanentemente este usuario?');">Borrar</a>
</div>
 <br>
<br>
<table>

<tr><td style="font-weight: bold;">APELLIDOS: </td><td>{{ object.user.last_name }}</td></tr>
<tr><td style="font-weight: bold;">NOMBRES: </td><td>{{ object.user.first_name }}</td></tr>
<tr><td style="font-weight: bold;">NOMBRE DE USUARIO: </td><td>{{ object.user.username }}</td></tr>
<tr><td style="font-weight: bold;">CORREO ELECTRÓNICO: </td><td>{{ object.user.email }}</td></tr>
<tr><td style="font-weight: bold;">ROL: </td><td>{{ object.rol }}</td></tr>
</table>
    {% endblock %}
